body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  font-family: 'Play', sans-serif;
  border: 5px;
  text-align: center;
}

.row {
  border-style: double;
  border-radius: 5px;
}

p {
  font-family: 'Play', sans-serif;
  text-align: center;
}

footer {
  font-family: 'Play', sans-serif;
  text-align: center;
}
